img {
    width: 25px;
    height: 25px;
}

.App-header {
    position: sticky;
    z-index: 20!important;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.589);
    padding: .3rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-header nav ul,
.App-header nav {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 0 1rem;
    align-items: center;
    justify-content: flex-start;
}

.App-header nav ul li {
    cursor: pointer;
    font-size: .9rem;
    text-transform: uppercase;
    font-family: var(--font-roboto);
    font-weight: 700;
}

.App-header button {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: .2rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: var(--font-poppins);
    font-weight: 300;
    font-size: .9rem;
    background-color: var(--color-green);
    padding: .4rem;
    transition: scale .35s ease;
    outline: none;
    border: none;
    border-radius: 5px;
}

.App-header button:Hover {
    cursor: pointer;
    font-weight: 400;
    scale: .9;
    transition: scale .55s ease;
    box-shadow: 0px 1px 5px rgba(128, 128, 128, 0.658);
}

.App-header button img {
    color: white;
}

.App-header .option-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.App-header .option-header a {
    opacity: 0;
    visibility: hidden;
}

.App-header .option-header .menu-bar {
    display: none;
}

.App-header .option-header .carrinho-pedido {
    position: relative;
}

.App-header .option-header .carrinho-pedido figure {
    width: 30px;
    height: 30px;
}

.App-header .option-header .carrinho-pedido figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.App-header .option-header .carrinho-pedido .count-pedidos {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -5px;
    bottom: 10px;
    color: white;
    padding: .4rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 0;
    background-color: var(--bg-color);
}

.App-header .option-header .carrinho-pedido .count-pedidos span {
    font-family: var(--font-poppins);
    font-size: .7rem;
}

@media (max-width: 911px) {

    .App-header nav ul {
        display: none;
    }


    .App-header nav ul.show {
        position: fixed;
        display: flex;
        width: 50%;
        gap: 1rem 0;
        padding-left: 10px;
        padding-top: 1rem;
        background-color: white;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        left: 0;
        top: 40px;
        height: 50%;
        border-radius: 0px 0px 20px;
    }

    .App-header .option-header button {
        display: none;
    }

    .App-header .option-header .menu-bar {
        display: block;
    }
}