#Perfil {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    background-color: var(--bg-color);
    height: 100vh;
    width: 100%;
}

#Perfil .Caixar {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--button-color);
    border-radius: 50px;
    padding: 1rem;
    cursor: pointer;
    z-index: 99999;
}

#Perfil .Dash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    margin: 1rem;
    padding: 1rem ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.801);
    border-radius: 20px;
    position: relative;
    width: 100%;
}


#Perfil .Dash .menu-bar figure {
    width: 25px;
    height: 25px;
}

#Perfil .Dash .menu-bar figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#Perfil .Dash .img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#Perfil .Dash .info-container {
    font-family: var(--font-poppins);
    margin: .5rem 0;
}

#Perfil .Dash .info-container h3 {
    font-size: 1.2rem;
}

#Perfil .Dash .info-container h4 span {
    font-weight: 400;
    text-transform: uppercase;
}

#Perfil .Dash .img-container figure:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    transition: all .35s ease;
    padding:.4rem;
}

#Perfil .Dash .img-container figure:first-child:Hover {
    background-color: grey;
    cursor: pointer;
    transition: all .35s ease;
}

#Perfil .Dash .img-container figure:last-child {
    width: 150px;
    height: 150px;
}

#Perfil .Dash .img-container figure:last-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#Perfil .Dash .option-dash ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem 0;
    justify-content: center;
    list-style: none;
    font-family: var(--font-poppins);
}

#Perfil .Dash .option-dash ul li {
    color: var(--bg-color);
    padding: .6rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

#Perfil .Dash .option-dash ul li.active {
    background-color: var(--bg-color);
    color: white;
    padding: .6rem 2rem;
    border-radius: 20px;
}

#Perfil .Dash .option-dash ul li:last-child {
    color: crimson;
}

#Perfil .Dash .menu-bar {
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 1251px) {
    #Perfil {
        height: 100%;
        grid-template-columns: 1fr;
        padding-left: 2.6rem;
    }
    
    #Perfil .Dash {
        position: fixed;
        top: 0px;
        left: -7px;
        width: 45px;
        border-radius: 50%;
        height: 45px;
    }

    #Perfil .Dash .img-container figure:last-child {
        width: 100px;
        height: 100px;
    }

    #Perfil .Dash .option-dash ul li {
        font-size: .8rem;
    }
    #Perfil .Dash.show {
        width: 50%;
        height: 95%;

        border-radius: 20px;
        transition: all .35s ease;
        z-index: 9999;
    }

    #Perfil .Dash .info-container {
        opacity: 0;
        visibility: hidden;
        transition: all .10s ease;
    }
    
    #Perfil .option-dash {
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease;

    }

    #Perfil .Dash .img-container {
        opacity: 0;
        visibility: hidden;
        transition: all .10s ease;
    }

    #Perfil .Dash .info-container.show {
        opacity: 1;
        visibility: visible;
        transition: all 1s ease;

    }
    
    #Perfil .option-dash.show {
        opacity: 1;
        visibility: visible;
        transition: all 1s ease;
    }

    #Perfil .Dash .img-container.show {
        opacity: 1;
        visibility: visible;
    }
    
    #Perfil .Dash .menu-bar {
        opacity: 1;
    visibility: visible;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
       border-radius: 50%;
       text-align: center;
    }

    #Perfil .Dash.show .menu-bar {
        left: 20px;
        top: 20px;
    }
}

@media (max-width: 572px) {
    #Perfil .Dash.show {
        width: 70%;
        border-radius: 20px;
        transition: all .35s ease;
        z-index: 9999;
    }
}
